extends ./layout/afterLogin

block content2
    main#core-main
        .core-left_column.core-column
            .core-left_column_title
                h1 배송 신청/예약하기
            .core-condition_box
                .condition_box_header
                    h5 조건 선택
                    h5.condition_box_header_date 2021년 8월 14일
                h5.search_option1 출발 공항
                h5.search_option2 도착 공항
            .core-calendar.calendar
           
        .core-right_column.core-column
            

            .register-button
                <i class="fas fa-plus"></i>
            .content-list
                h1 목록
                .contents
                    .contents-timeInfo
                        h5.departure  출발 시간
                        h5.aparture 도착시간
                    h5.airport 공항
                    h5.feePerWeight 가격 정보
                .contents
                    .contents-timeInfo
                        h5.departure  출발 시간
                        h5.aparture 도착시간
                    h5.airport 공항
                    h5.feePerWeight 가격 정보
                .content-select-button
                    h3 선택하기
                
