extends ./layout/main


block content
    canvas#login-bg
    main.main-join

        .join-img_container
                img.join-logo(src="../static/cross-cross.svg")
        .join-main_column
            a(href="http://localhost:4001/auth/login")
                button.join-backward 뒤로가기
            form(action="http://localhost:4001/auth/join", method="post").join-form
                input(type='email' name ='email' placeholder='이메일')
                input(type='text' name='nickname' placeholder='닉네임')
                input(type='password' name='password' placeholder='비밀번호')
                input(type='password' name ='passwordConfirm'placeholder='비밀번호 확인')
                input(type='submit' placeholder="회원가입")
    script(src="../static/login.js")