@import 'keyframes.scss';

.join-logo {
	width: 500px;
	height: 168px;
}

.main-join {
	animation: viewPortOpening 0.5s ease;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient($mainColor2, transparent);

	.join-main_column {
		background: whitesmoke;
		justify-content: space-around;
		border-radius: 20px;
		display: flex;
		height: 60%;
		align-items: center;
		width: 40%;
		margin-bottom: 30px;
		button {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: none;
			background-color: $mainColor1;
			transition: all 0.5s ease;
			color: white;
			margin-left: 30px;
			&:hover {
				width: 150px;
				background-color: $buttonReaction2;
				font-size: 25px;
				font-weight: bold;
				height: 150px;
			}
		}
		form {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			input {
				width: 100%;
				margin-bottom: 4px;
				border: none;
				padding: 10px 20px;
				border-radius: 10px;
				background-color: gainsboro;
				&:focus {
					outline: none;
				}
				&:hover {
					background-color: white;
				}

				&:nth-child(5) {
					margin-top: 10px;
					background-color: $mainColor3;
					color: white;
					transition: all 0.5s ease;
					&:hover {
						background-color: $buttonReaction1;
						font-size: 19px;
					}
				}
			}
		}
	}
}
