/** fonts **/
@-webkit-keyframes viewPortOpening {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  60% {
    opacity: 1;
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }
@keyframes viewPortOpening {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  60% {
    opacity: 1;
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Black Han Sans', sans-serif; }

#body2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8cc4a7; }

header {
  width: 100%;
  overflow-x: hidden;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: white;
  padding: 0 50px; }
  header img {
    width: 250px;
    height: 80px; }
  header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 15%;
    height: 100%;
    align-items: center;
    margin: 0;
    margin-right: 50px; }
    header ul li {
      font-size: 20px; }

/** fonts **/
@-webkit-keyframes viewPortOpening {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  60% {
    opacity: 1;
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }
@keyframes viewPortOpening {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  60% {
    opacity: 1;
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }

.main-login {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#fdce8f, transparent); }
  .main-login .login-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .main-login .login-left h1 {
      font-weight: bolder;
      font-size: 40px;
      font-family: 'Black Han Sans', sans-serif; }
      .main-login .login-left h1:nth-child(2) {
        margin-bottom: 200px;
        align-self: flex-end; }
  .main-login .login-main_column {
    background-color: whitesmoke;
    padding: 40px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    -webkit-animation: viewPortOpening 0.5s ease;
            animation: viewPortOpening 0.5s ease;
    margin-bottom: 200px; }
    .main-login .login-main_column .login-img_container {
      margin-bottom: 50px; }
      .main-login .login-main_column .login-img_container img {
        width: 400px;
        height: 160px; }
    .main-login .login-main_column .login-form {
      display: flex;
      flex-direction: column; }
      .main-login .login-main_column .login-form input {
        width: 300px;
        border-radius: 5px;
        margin-bottom: 5px;
        box-shadow: none;
        font-size: 18px;
        padding: 3px 5px;
        border: none;
        background-color: gainsboro;
        text-align: center; }
        .main-login .login-main_column .login-form input:focus {
          outline: none; }
        .main-login .login-main_column .login-form input:hover {
          background-color: white; }
        .main-login .login-main_column .login-form input:nth-child(3) {
          background-color: #97c11e;
          color: white; }
          .main-login .login-main_column .login-form input:nth-child(3):hover {
            background-color: #1cac7a; }
    .main-login .login-main_column button {
      background-color: #8cd2f2;
      color: white;
      border: none;
      border-radius: 5px;
      width: 300px;
      font-size: 18px;
      padding: 3px 5px; }
      .main-login .login-main_column button:hover {
        background-color: #00a0ff;
        color: white; }

#login-bg {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

/** fonts **/
@-webkit-keyframes viewPortOpening {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  60% {
    opacity: 1;
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }
@keyframes viewPortOpening {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  60% {
    opacity: 1;
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }

.join-logo {
  width: 500px;
  height: 168px; }

.main-join {
  -webkit-animation: viewPortOpening 0.5s ease;
          animation: viewPortOpening 0.5s ease;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#fdce8f, transparent); }
  .main-join .join-main_column {
    background: whitesmoke;
    justify-content: space-around;
    border-radius: 20px;
    display: flex;
    height: 60%;
    align-items: center;
    width: 40%;
    margin-bottom: 30px; }
    .main-join .join-main_column button {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: none;
      background-color: #97c11e;
      transition: all 0.5s ease;
      color: white;
      margin-left: 30px; }
      .main-join .join-main_column button:hover {
        width: 150px;
        background-color: #1cac7a;
        font-size: 25px;
        font-weight: bold;
        height: 150px; }
    .main-join .join-main_column form {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main-join .join-main_column form input {
        width: 100%;
        margin-bottom: 4px;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: gainsboro; }
        .main-join .join-main_column form input:focus {
          outline: none; }
        .main-join .join-main_column form input:hover {
          background-color: white; }
        .main-join .join-main_column form input:nth-child(5) {
          margin-top: 10px;
          background-color: #8cd2f2;
          color: white;
          transition: all 0.5s ease; }
          .main-join .join-main_column form input:nth-child(5):hover {
            background-color: #00a0ff;
            font-size: 19px; }

/** fonts **/
@-webkit-keyframes viewPortOpening {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  60% {
    opacity: 1;
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }
@keyframes viewPortOpening {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  60% {
    opacity: 1;
    transform: translateX(-40px); }
  100% {
    transform: translateX(0); } }

#core-main {
  width: 90%;
  height: calc(100% - 90px);
  display: flex; }
  #core-main .core-column {
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    padding: 10px 10px; }
  #core-main .core-left_column {
    width: 55%;
    border-right: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center; }
    #core-main .core-left_column .core-left_column_title {
      margin-top: 30px;
      margin-bottom: 20px;
      display: flex;
      width: 100%;
      justify-content: start; }
      #core-main .core-left_column .core-left_column_title h1 {
        font-size: 30px;
        font-weight: 700; }
    #core-main .core-left_column .core-calendar {
      background-color: #97c11e;
      width: 100%;
      height: 400px;
      border: 1px solid black;
      border-radius: 10px;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
      #core-main .core-left_column .core-calendar .item {
        display: flex;
        justify-content: center;
        align-items: center; }
      #core-main .core-left_column .core-calendar .item-day {
        color: #fdce8f; }
      #core-main .core-left_column .core-calendar .item-num {
        cursor: pointer;
        border-radius: 20px; }
        #core-main .core-left_column .core-calendar .item-num:hover {
          color: white;
          background-color: #8cd2f2; }
          #core-main .core-left_column .core-calendar .item-num:hover span {
            width: 50px;
            height: 50px;
            border-radius: 50%; }
    #core-main .core-left_column .core-condition_box {
      width: 100%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px 10px; }
      #core-main .core-left_column .core-condition_box select {
        width: 300px;
        border-radius: 10px; }
      #core-main .core-left_column .core-condition_box .condition_box_header {
        display: flex;
        justify-content: space-between; }
        #core-main .core-left_column .core-condition_box .condition_box_header .condition_box_header_date {
          text-decoration: underline; }
  #core-main .core-right_column {
    position: relative;
    padding: 30px 20px;
    width: 45%;
    height: 100%; }
    #core-main .core-right_column a {
      text-decoration: none; }
    #core-main .core-right_column h1 {
      margin-bottom: 20px; }
    #core-main .core-right_column .register-button {
      border-radius: 50%;
      position: relative;
      top: calc(50% - 150px);
      left: calc(50% - 150px);
      width: 300px;
      height: 300px;
      background-color: #217566;
      transition: all 0.5s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black; }
      #core-main .core-right_column .register-button i {
        font-size: 150px;
        color: #97c11e; }
    #core-main .core-right_column .content-list {
      position: absolute;
      height: 100%;
      width: 40vw;
      transition: all 0.5s ease;
      transform: translateX(800px);
      z-index: 4; }

.contents {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 5px; }
  .contents .contents-timeInfo {
    width: 60%;
    display: flex;
    justify-content: space-between; }
  .contents:hover {
    border: 3px solid #00a0ff; }

.content-select-button {
  position: absolute;
  background-color: #8cd2f2;
  width: 400px;
  height: 100px;
  bottom: 60px;
  left: calc(50% - 200px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .content-select-button:hover {
    background-color: #00a0ff; }

